@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: "Martel Sans", sans-serif; */
}
body {
  background-color: black;
}
.main {
  background-image: url("assets/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 80vh;
  position: relative;
}
.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  height: 70px;
  padding: 16px 0;
}
nav img {
  color: rgb(255, 5, 5);
  width: 148px;
  height: 40px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding: 0px 30px;
}
.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  font-family: "Martel Sans", sans-serif;
}
.hero > :nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-family: "Martel Sans", sans-serif;
}
.separation-line {
  height: 6px;
  background-color: rgb(80, 80, 80);
  opacity: 0.5;
}
.btn {
  padding: 5px 10px;
  font-weight: 400;
  background-color: rgba(23, 23, 23, 0.161);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}
.btn-red {
  background-color: red;
  padding: 5px 24px;
  font-size: 24px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  border: none;
}

.btn-red-sm {
  background-color: red;
  color: white;
  font-weight: 600;
  border: none;
}
.main input {
  padding: 10px 100px 10px 14px;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(212, 212, 212, 0.5);
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
}
.secimg {
  position: relative;
}
.secimg img {
  position: relative;
  position: re;
  z-index: 10;
}
.secimg video {
  position: absolute;
  right: 0;
  top: 51px;
}
section.first > div {
  display: flex;
  flex-direction: column;
}
section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: 900;
}
section.first > div :nth-child(2) {
  font-size: 24px;
  font-weight: 500;
}
.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faqbox {
  background-color: #2d2d2d;
  display: flex;
  padding: 25px;
  width: 100%;
  margin: 20px auto;
  max-width: 60vw;
  justify-content: space-between;
  cursor: pointer;
  font-size: 24px;
  transition: all 1s ease-out;
}
.faqbox:hover {
  background-color: #141414;
  color: white;
}
footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 30px;
}

footer .questions {
  padding: 30px 0;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
